# Load starship prompt
eval "$(starship init zsh)"

# Configure zsh history
export HISTFILE=~/.zsh_history
export HISTFILESIZE=1000000000
export HISTSIZE=1000000000
export HISTTIMEFORMAT="[%F %T] "
setopt INC_APPEND_HISTORY
setopt EXTENDED_HISTORY

# Fix CTRL+Arrow keys
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

# Common aliases
alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias diff='diff --color=auto'

# Configure Fuzzy Finder
{% if ansible_os_family == "Debian" %}
test -f /usr/share/doc/fzf/examples/completion.zsh && source /usr/share/doc/fzf/examples/completion.zsh
test -f /usr/share/doc/fzf/examples/key-bindings.zsh && source /usr/share/doc/fzf/examples/key-bindings.zsh
{% elif ansible_distribution == "Fedora" %}
# if using Fedora
test -f /usr/share/fzf/shell/key-bindings.zsh && source /usr/share/fzf/shell/key-bindings.zsh
{% elif ansible_os_family == "Archlinux" %}
test -f /usr/share/fzf/key-bindings.zsh && source /usr/share/fzf/key-bindings.zsh
test -f /usr/share/fzf/completion.zsh && source /usr/share/fzf/completion.zsh
{% endif %}

# Load custom aliases
[ -f ~/.bash_aliases ] && source ~/.bash_aliases
