---

- name: Install chrony
  apt:
    name: chrony
    state: present

- name: Stop and disable systemd-timesyncd
  systemd:
    name: systemd-timesyncd
    state: stopped
    enabled: no
    masked: yes
  ignore_errors: yes

- name: Configure timezone to be Europe/Amsterdam
  file:
    src: /usr/share/zoneinfo/Europe/Amsterdam
    dest: /etc/localtime
    state: link

- name: Configure chronyd service
  systemd:
    name: chrony
    state: started
    enabled: yes
  ignore_errors: yes

- name: Configure chrony
  copy:
    src: chrony_debian.conf
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: '0644'
  register: configure_chrony

- name: Restart chrony service
  systemd:
    name: chrony
    state: restarted
  when: configure_chrony.changed
  ignore_errors: yes
