---

- name: Install chrony
  apt:
    name: chrony
    state: present

- name: Stop and disable systemd-timesyncd
  systemd:
    name: systemd-timesyncd
    state: stopped
    enabled: no
    masked: yes

- name: Configure chronyd service
  systemd:
    name: chrony
    state: started
    enabled: yes

- name: Configure chrony
  copy:
    src: chrony.conf
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: '0644'
  register: configure_chrony

- name: Restart chrony service
  systemd:
    name: chrony
    state: restarted
  when: configure_chrony.changed
